body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#name {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 100px;
}

.homepage-container,
.about-container,
.contact-container,
.skills-container {
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.skill-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.skill-image-container {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}

.skill-image {
  height: 150px;
  width: fit-content;
}

.skill {
  margin-top: 1em;
  font-weight: bold;
}

.form-container {
  text-align: center;
  width: fit-content;
  margin: auto;
}

.contact-header {
  text-align: left;
}

.contact-link {
  font-size: 50px;
  margin-right: 0.5em;
}

.contact-link-container {
  margin-top: 2em;
}

.project-link {
  font-size: 40px;
  margin-right: 0.5em;
}

.linkedin {
  color: #0b65c2;

}

.github,
.website {
  color: black;
}

.back-to-top-button {
  position: relative;
}

.back-to-top-position {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;
}

@mixin button($bcolor,
  $url,
  $x1,
  $y1,
  $bor,
  $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.about-button-container,
.contact-button-container {
  position: relative;
  width: 100px;
  height: 50px;
  margin: auto;
  overflow: hidden;
  border: 1px solid;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;

  button {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;

    @include button(#000,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
      2300%,
      100%,
      none,
      #fff);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
    }
  }
}

.projects-button-container {
  position: relative;
  width: 100px;
  height: 50px;
  margin: auto;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;

  button {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;

    @include button(#000, "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
      3000%,
      100%,
      none,
      #fff);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}


.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 16px;
  margin-top: 12px;
  overflow: hidden;
  font-weight: bold;

}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.skills-button-container {
  position: relative;
  width: 100px;
  height: 50px;
  margin: auto;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;

  button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;


    @include button(#000, "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
      7100%,
      100%,
      none,
      #fff);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation: ani 0.7s steps(70) forwards;
    }
  }
}

.button-container {
  display: flex;
}

.project-container {
  margin-bottom: 2em;
  text-align: center;
}

.project-image {
  margin-bottom: 0.5em;
}

.project-content {
  display: flex;
  align-items: center;
}
